#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: greenyellow;
  background-color: black;
}

header {
  height: 150px;
}

main {
  height: calc(100vh - 300px);
  overflow-y: auto;
}

footer {
  height: 50px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

ul > li {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 8px;
}

ul > li > p {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0; /* 기본 p 여백 제거 */
  border: 1px solid greenyellow;
  border-radius: 10px;
}

.confirm, .insert, .update, .delete {
  margin-left: 20px;
}

.confirm, .insert {
  background-color: green;
}

.update {
  background-color: yellow;
}

.delete {
  background-color: red;
}

input {
  border: 1px solid greenyellow;
  border-radius: 5px;
  background-color: black;
  color: greenyellow;
}